option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NPM_CONFIG_PRODUCTION
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: 'staging'
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ELASTIC_BEAN
    value: true
